/* your product landing page should have at least one media query */
/* your product landing page should utilize css flexbox at least once */

/* navbar = 75px tall */
/* the navbar should always be at the top of the viewport */
/* logo = 35px x 35px */
:root {
	--nav-bg: #ffc5c9;
	--body-bg: #ffeaec;
}

* {
	margin: 0;
}

body {
	max-width: 950px;
	margin: 0 auto;
	background-color: var(--body-bg);
	font-family: 'Inter', sans-serif;
}

.spacer {
	height: 75px;
}

header {
	height: 75px;
	background-color: var(--nav-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.header-title {
	font-size: 2rem;
	font-family: 'Salsa', cursive;
	line-height: 0.9;
}

#nav-bar {
	margin-right: 1rem;
	display: flex;
	column-gap: 4vw;
	align-items: center;
	line-height: 0.9;
}

.nav-link:link,
.nav-link:visited {
	text-decoration: inherit;
	color: inherit;
}

@media (max-width: 700px) {
	.collapse {
		display: none;
	}

	.header-title {
		font-size: 1rem;
	}

	.point-title {
		padding-left: 1vw;
	}

	.point-desc {
		padding-left: 5vw;
	}
}

.hero {
	display: flex;
	align-items: center;
}

.hero-text {
	margin-inline: 9vw;
	text-align: center;
	font-style: italic;
	font-size: 1.5rem;
	line-height: 2;
}

.hero-img {
	/* height: 450px;
	max-width: auto; */
	height: auto;
	width: 60%;
}

.info-point {
	display: flex;
	align-items: center;
	padding-block: 1rem;
}

.point-icon {
	padding-inline: 5vw;
	min-width: 64px;
}

.point-desc {
	padding-right: 5vw;
}

.product-video {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block: 1.5rem;
}

.cta {
	border: 1px solid black;
	max-width: fit-content;
	margin: 75px auto 0;
}

footer {
	background-color: var(--nav-bg);
	font-size: 10px;
	padding: 10px 50px;
	text-align: end;
}