body {
	width: clamp(250px, 40%, 400px);
	margin: 1rem auto;
}

header {
	margin: 1rem auto;
	text-align: center;
}

.flex {
	display:flex;
	align-items: center;
}

label {
	display: block;
}
#favorite-set > label { /* but not for checkbox labels */
	display: inline;
}

input, textarea, select {
	margin: 0.25rem 0 0.25rem 0;
	width: 100%;
}

fieldset {
  border: none;
  padding: 1rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

legend {
	padding-top: 1rem;
}

.inline {
	display: inline;
	width: unset;
	margin: 0 0.5em 0 0;
}

.block {
	display: block;
}